body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.navbar {
  background-color: white;
  color: blue;
  padding: 10px 20px;
}

.navbar h2 {
  display: inline-block;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  float: right;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* No changes made above this line */

/* Begin minor updates */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.invoice-details, .order-box {
  background-color: #CCCACA;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

}

th, td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
  background-color: #919191; /* white cells to contrast with grey table bg */
}
